*.iml
.gradle/
.kotlin/
/local.properties
.idea/
.DS_Store
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.build-outputs/

# Ensure Gradle Wrapper JAR is not ignored
!gradle/wrapper/gradle-wrapper.jar

